/*****************************
 * STYLE SHEET FOR HOME PAGE *
 *****************************/

.homeContent a {
    color: #06336D; /*verydark blue*/
    text-decoration: none;
}

.homeContent a:hover {
    color: #1253A7; /*blue*/
    text-decoration: none;
}

.row {
    padding-top: 20px;
    padding-bottom: 20px;
}

.textColumn {
    border-bottom: 2px solid black;
}

.textColumn .title {
    font-size: 3em;
    font-family: "Georgia", serif;
    font-weight: bold;
    margin-bottom: 0px;
    border-bottom: 2px solid black;
}

.textColumn .published {
    margin-top: 6px;
    color: #555555; /*very dark grey*/
    font-family: "Georgia", serif;
    font-weight: lighter;
}

.textColumn p.review {
    font-size: 1.5em;
}

.textColumn p.description {
    font-family: "Georgia", serif;
    font-size: 1.2em;
    background-color: white;
    box-shadow: 0px 0px 12px white;
    padding: 6px 12px;
}

p.linktomore a {
    font-size: 1.5em;
    font-weight: bold;
    font-style: italic;
}

.blogColumn .articleContainer {
    border: 2px solid #06336D; /*verydark blue*/
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    padding: 20px;
    background-color: white;
}