/*************************************
 * STYLE SHEET APPLIED TO WHOLE SITE *
 *************************************/

/*************************************
 * COLORS
 *
 * GREYS
 * verylight    #E8E8E8
 * light        #D3D3D3
 * grey         #BEBEBE
 * dark         #818181
 *
 * BLUES
 * primary      #1253A7
 * dark         #294E7E
 * verydark     #06336D
 * light        #81B5F8
 * verylight    #D2E3F8
 *
 * YELLOW
 * primary      #FFA006
 * dark         #A66702
 * light        #FFCC79
 *************************************/

/*******************
 * GLOBAL SETTINGS *
 *******************/

body {
    background-color: #E8E8E8; /* verylight grey*/
}

a {
    color: #81B5F8; /*light blue*/
    text-decoration: none;
}

a:hover {
    color: #D2E3F8; /*verylight blue*/
    text-decoration: none;
}

a.linkonly, a.linkonly:hover {
    color: inherit;
    text-decoration: inherit;
}

/********************
 * REUSABLE CLASSES *
 ********************/

.clearing {
    clear: both;
}

.seeIt { /* just for testing during development */
    border: 1px solid red;
}

img.fullColumn {
    margin: 0px 3%;
    width: 93%;
    height: auto;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    box-shadow: 1px 1px 8px black;
}

img.amazonOverlay {
    position: relative;
    margin-left: 6%;
    width: 44%;
    height: auto;
    top: -40px;
    opacity: 0.8;
}

img.amazonOverlay:hover {
    opacity: 1;
    box-shadow: 0px 0px 12px white;
}

div.bookImage {
    background-image: url('/images/Stickbook.png');
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    overflow: hidden;
    max-width: 100%;
}

div.bookImage > div.spacer {
    width: 100%;
    padding-top: 150%;
}

/****************
 * HEADER TITLE *
 ****************/

div#headerContainer {
    background-color: #294E7E; /*dark blue*/
    color: white;
    padding-bottom: 20px;
}

div#titleContainer {
    float: left;
}

div#titleImage {
    float: right;
    margin-top: 20px;
}

div#titleImage img {
    width: auto;
    height: 100px;
}

h1.headerTitle {
    color: #FFA006; /*yellow*/
    font-family: "Georgia", serif;
    text-align: right;
    font-size: 4.2em;
    display: inline-block;
    margin-top: 30px;
    line-height: 70%;
}

h1.headerTitle span.headerSubtitle {
    color: white;
    font-size: 0.4em;
    font-weight: bold;
    text-shadow: 1px 1px 2px #06336D; /*verydark blue*/
    display: inline-block;
}

h1.headerTitle span.headerSubtitle em{
    color: #FFCC79; /*light yellow*/
}

h1.headerTitle#smallHeaderTitle {
    font-size: 2.4em;
}

h1.headerTitle#smallHeaderTitle span.headerSubtitle{
    font-size: 0.55em;
}

/*******************
 * MAIN NAVIGATION *
 *******************/

nav#mainNav {
    background-color: #E8E8E8; /* verylight grey*/
    overflow: hidden;
    border: 2px solid #FFA006; /*yellow*/
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

nav#mainNav ul {
    list-style: none;
    margin-top: 0px;
}

nav#mainNav li {
    font-size: 1.4em;
    float: left;
}

nav#mainNav li:hover {
    background-color: #D3D3D3; /*light grey*/
}

nav#mainNav a {
    color: #06336D; /*verydark blue*/
    letter-spacing: 0.1em;
    padding: 4px 16px;
    display: block;
}

nav#mainNav a:hover {
    color: #1253A7; /*primary blue*/
}

/*****************
 * FOOTER SYTLES *
 *****************/

footer {
    clear: both;
    background-color: #06336D; /*verydark blue*/
    color: #81B5F8; /*light blue*/
    padding: 16px;
    border-top: 2px solid #FFA006; /*yellow*/
    text-align: center;
    font-size: 0.9em;
}